/*---------------------------------------------------------------------------------------------------------------------------------------
Sets
---------------------------------------------------------------------------------------------------------------------------------------*/
set Routes := {{#routes}} {{routeid}} {{/routes}};

set Interruptions := {{#interruptions}} {{.}} {{/interruptions}};

{{#routes}}
set RoutePaths[{{routeid}}]	:=
{{#route_paths}} {{pathid}} {{/route_paths}};	
{{/routes}}

{{#routes}}{{#route_paths}}
set RouteSections[{{routeid}}, {{pathid}}]	:=
{{#route_sections}} {{routeid}}_{{sequence_number}} {{/route_sections}};	
{{/route_paths}}{{/routes}}

set Resources := {{#resources}} {{resourceid}} {{/resources}};

set Markers := {{#sectionmarkers}} {{.}} {{/sectionmarkers}};

{{#routes}}{{#route_paths}}{{#route_sections}}{{#section_marker}}
set SectionMarkers[{{routeid}}, {{pathid}}, {{routeid}}_{{sequence_number}}]	:=
{{section_marker}};	
{{/section_marker}}{{/route_paths}}{{/routes}}{{/route_sections}}

{{#routes}}{{#route_paths}}{{#route_sections}}{{#route_alternative_marker_at_entry}}
set RouteAlternativeMarkeratEntry[{{routeid}}, {{pathid}}, {{routeid}}_{{sequence_number}}]	:=
{{route_alternative_marker_at_entry}};	
{{/route_alternative_marker_at_entry}}{{/route_paths}}{{/routes}}{{/route_sections}}

{{#routes}}{{#route_paths}}{{#route_sections}}{{#route_alternative_marker_at_exit}}
set RouteAlternativeMarkeratExit[{{routeid}}, {{pathid}}, {{routeid}}_{{sequence_number}}]	:=
{{route_alternative_marker_at_exit}};	
{{/route_alternative_marker_at_exit}}{{/route_paths}}{{/routes}}{{/route_sections}}

{{#resourceofsection}}{{#routes}}{{#route_paths}}{{#route_sections}}
set ResourceOccupations[{{routeid}}, {{pathid}}, {{routeid}}_{{sequence_number}}]	:=
{{#resource_occupations}} {{resource}} {{/resource_occupations}};	
{{/route_sections}}{{/route_paths}}{{/routes}}{{/resourceofsection}}

{{#connections}}
set OntoServiceIntention[{{section_marker}}, {{routeid}}] := 
{{#connected}} {{onto_service_intention}} {{/connected}};
{{/connections}}

{{#connections}}{{#connected}}
set OntoSectionMarker[{{section_marker}}, {{routeid}}, {{onto_service_intention}}] := 
{{onto_section_marker}};
{{/connected}}{{/connections}}

{{#service_intentions}}
set MarkersWithEntryEarliest[{{route}}] :=
{{#earliestentry}} {{marker}} {{/earliestentry}};
{{/service_intentions}}

{{#service_intentions}}
set MarkersWithExitEarliest[{{route}}] :=
{{#earliestexit}} {{marker}} {{/earliestexit}};
{{/service_intentions}}

{{#service_intentions}}
set MarkersWithEntryLatest[{{route}}] :=
{{#latestentry}} {{marker}} {{/latestentry}};
{{/service_intentions}}

{{#service_intentions}}
set MarkersWithExitLatest[{{route}}] :=
{{#latestexit}} {{marker}} {{/latestexit}};
{{/service_intentions}}



/*---------------------------------------------------------------------------------------------------------------------------------------
Parameters
---------------------------------------------------------------------------------------------------------------------------------------*/
param SectionReqEntryEarliest := {{#service_intentions}}{{#section_requirements}}{{#entry_earliest}}
{{section_marker}} {{route}} {{entry_earliest}} 
{{/entry_earliest}}{{/section_requirements}}{{/service_intentions}};


param SectionReqEntryLatest:= {{#service_intentions}}{{#section_requirements}}{{#entry_latest}}
{{section_marker}} {{route}} {{entry_latest}} 
{{/entry_latest}}{{/section_requirements}}{{/service_intentions}};

param SectionReqExitEarliest := {{#service_intentions}}{{#section_requirements}}{{#exit_earliest}}
{{section_marker}} {{route}} {{exit_earliest}} 
{{/exit_earliest}}{{/section_requirements}}{{/service_intentions}};

param SectionReqExitLatest := {{#service_intentions}}{{#section_requirements}}{{#exit_latest}}
{{section_marker}} {{route}} {{exit_latest}} 
{{/exit_latest}}{{/section_requirements}}{{/service_intentions}};

param SectionReqEntryDelayWeight := {{#service_intentions}}{{#section_requirements}}{{#entry_delay_weight}}
{{section_marker}} {{route}} {{entry_delay_weight}} 
{{/entry_delay_weight}}{{/section_requirements}}{{/service_intentions}};

param SectionReqExitDelayWeight := {{#service_intentions}}{{#section_requirements}}{{#exit_delay_weight}}
{{section_marker}} {{route}} {{exit_delay_weight}} 
{{/exit_delay_weight}}{{/section_requirements}}{{/service_intentions}};

param minStoppingTime := {{#service_intentions}}{{#section_requirements}}{{#min_stopping_time}}
{{section_marker}} {{route}} {{min_stopping_time}} 
{{/min_stopping_time}}{{/section_requirements}}{{/service_intentions}};

param Penalty := {{#routes}}{{#route_paths}}{{#route_sections}}{{#penalty}}
{{routeid}} {{routeid}}_{{sequence_number}} {{penalty}} 
{{/penalty}}{{/route_sections}}{{/route_paths}}{{/routes}};

param minRunningTime := {{#routes}}{{#route_paths}}{{#route_sections}}{{#minimum_running_time}}
{{routeid}} {{routeid}}_{{sequence_number}} {{minimum_running_time}} 
{{/minimum_running_time}}{{/route_sections}}{{/route_paths}}{{/routes}};

param minConnectionTime := {{#service_intentions}}{{#section_requirements}}{{#connections}}{{#min_connection_time}}
{{section_marker}} {{route}} {{onto_service_intention}} {{min_connection_time}}
{{/min_connection_time}}{{/connections}}{{/section_requirements}}{{/service_intentions}};

param ReleaseTime := {{#resources}}{{#release_time}}
{{resourceid}} {{release_time}}
{{/release_time}}{{/resources}};

