/*---------------------------------------------------------------------------------------------------------------------------------------
SBB challence
Fall 2018
Authors: 
	Francesco Baldi
	Hur Butun
	Ivan Kantor
	Luise Middelhauve
	Raluca Suciu
---------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------------------
Run options
---------------------------------------------------------------------------------------------------------------------------------------*/
option solver '{{&solver_path}}';
option omit_zero_rows 1;
option omit_zero_cols 1;
option times 1;
option gentimes 1;
option show_stats 1;

option {{solver_name}}_options 'outlev=1';

model ./ampl/secret_part1.mod;
data {{&data_file}};
solve;
print "param yRouteSections" > './ampl/yRouteSections.dat'; 
printf {r in Routes, rs in RouteSectionsOfRoute[r]} '%s %s %d\n', r, rs, yRouteSections[r,rs] > './ampl/yRouteSections.dat';
print ";" > './ampl/yRouteSections.dat'; 

print "param entry_time_param" > './ampl/entry_time.dat'; 
printf {r in Routes, rs in RouteSectionsOfRoute[r]} '%s %s %d\n', r, rs, entry_time[r,rs] > './ampl/entry_time.dat';
print ";" > './ampl/entry_time.dat'; 

print "param exit_time_param" > './ampl/exit_time.dat'; 
printf {r in Routes, rs in RouteSectionsOfRoute[r]} '%s %s %d\n', r, rs, yRouteSections[r,rs] > './ampl/exit_time.dat';
print ";" > './ampl/exit_time.dat'; 

print '===========================================';
print 'Penalty is:';
display obj_fucntion;
print '===========================================';

reset;

model ./ampl/secret_part2.mod;
data {{&data_file}};
data ./ampl/yRouteSections.dat;
data ./ampl/entry_time.dat;
data ./ampl/exit_time.dat;

option {{solver_name}}_options '{{&solver_options}}';

#let {r in Routes, rs in RouteSectionsOfRoute[r]: yRouteSections[r,rs] == 1} entry_time[r,rs] := entry_time_param[r,rs];
#let {r in Routes, rs in RouteSectionsOfRoute[r]: yRouteSections[r,rs] == 1} exit_time[r,rs] := exit_time_param[r,rs];

solve;

print '===========================================';
print 'Penalty is:';
display obj_fucntion;
print '===========================================';

/*---------------------------------------------------------------------------------------------------------------------------------------
Write the results 
---------------------------------------------------------------------------------------------------------------------------------------*/
for {r in Routes, rs in RouteSectionsOfRoute[r]} {if yRouteSections[r,rs]>0 then printf "entry_time[%s,'%s']= %.9f\n", r, rs, entry_time[r,rs] > ("./ampl/outputfiles/secretresults_p{{problemnumber}}.out")};
for {r in Routes, rs in RouteSectionsOfRoute[r]} {if yRouteSections[r,rs]>0 then printf "exit_time[%s,'%s']= %.9f\n", r, rs, exit_time[r,rs] > ("./ampl/outputfiles/secretresults_p{{problemnumber}}.out")};

/*---------------------------------------------------------------------------------------------------------------------------------------
Write the problem size and result status
---------------------------------------------------------------------------------------------------------------------------------------*/
display _nvars            > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");
display _ncons            > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");
display _nobjs            > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");
display _snvars           > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");
display _sncons           > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");
display _snbvars          > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");
display _snivars          > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");
display _solve_time       > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");
display _ampl_time        > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");
display _solve_elapsed_time > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");
display _ampl_elapsed_time > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");
display solve_exitcode    > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");
display solve_message     > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");
display solve_result_num  > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");
display solve_result      > ("./ampl/outputfiles/problemsize_p{{problemnumber}}.out");